.App {
  text-align: center;
}

.App-logo {
  display: flex;
  justify-content: flex-start;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.About-Me {
  height: 8%;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.My-Colorful-Login {
  height: 20%;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.github {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Object-Literals {
  height: 25%;
  width: 40%;
  margin-top: 20px;
}

section {
  display: flex;
  justify-content: flex-end;
}

a {
  padding-right: 2%;
  color: white;
}

body {
  background: darkslategray;
}

.proEx {
  list-style-type: none;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}

ul {
  color: white;
}

div {
  margin: 0px 20px 10px 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
